<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://fsh-plus.inventionpro.repl.co/pb.css">
  </head>
  <body>
    <h1>Available endpoints:</h1>
    <p>{param} - required, [param] - optional</p>
    <p>/api/ping</p>
    <p>/api/balance [userid=discord_id]</p>
    <p>/api/bank [userid=discord_id]</p>
    <p>/api/inventory [userid=discord_id]</p>
    <p>/api/testkeys {apikey=PB_APIKEY}</p>
    <p>/api/payment {userid=discord_id} {apikey=PB_APIKEY}</p>
  </body>
</html>